.containers{
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
}

.projectDetails{
    display: flex;
    justify-content: space-between;
    
}

.sentences{
    text-align: left;
}



td{
    max-width: 200px;
    overflow: hidden;
}

.heading{
    font-size: 3em;
    max-width: 100px;
    text-align: center;
    padding-right: 3em;
    padding-left: .5em;
}

.introSentences{
    padding-left: none;
}

.introHeading{
    padding-left: .5em;
    max-width: 100px;
    text-align: center;
    font-size: 3em;
    padding-right: 3em;
}


