.row{
    display: flex;
    justify-content: space-evenly;
}

.name{
    font-size: 2em;
    font-weight: 300;
    color: #74121d;
}

.email{
    font-size: .7em;
    text-decoration: none;
}

.header{
    font-weight: 300;
    color: #74121d;
    font-size: 1.2em;
    padding-top: 1%;
    padding-bottom: 1%;
}

.body{
    font-size: .8em;
}

button{
    text-decoration: none;

  /* create a small space when buttons wrap on 2 lines */
    margin: 2px 0;

  /* invisible border (will be colored on hover/focus) */
    border: solid 1px transparent;
    border-radius: 4px;

  /* size comes from text & padding (no width/height) */
    padding: 0.5em 1em;

  /* make sure colors have enough contrast! */
    color: #ffffff;
    background-color: #74121d;
}

button:active {
    transform: translateY(1px);
    filter: saturate(150%);
  }

button:hover {
    color: #74121d;
    border-color: currentColor;
    background-color: white;
  }

.table{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

img{
    max-width: 100%;
    height: auto;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-bottom: 2em;
    overflow: hidden;
}

.edHead{
    font-size: 3em;
    font-weight: 300;
    color: #74121d;
    text-align: center;
    padding-bottom: 1em;
}

.center{
  display: flex;
  justify-content: center;
}
.emCard{
    display: flex;
    border: 1px solid #D3D3D3;
    flex-direction: column;
    padding: 1em;
    width: 40%;
    border-radius: 7px
}