.title{
    justify-content: left;
    margin-left: 30px;
    display: flex;
}
p{
  margin-left: 80px;
  text-indent:-40px;
}
under{
  text-decoration: underline;
}
italic{
  font-style: italic
}
.container{
    margin-left: 40px;
    width: 97%;
    padding-right:10%;
}
.sentences{
    text-align: left;
    padding-right: 80px;
    padding-bottom: 20px;
    padding-top: 15px;
}
.PDF{
  background-color: maroon;
  border: none;
  color: white;
  padding:5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}
