.classPreq{
   text-align: left;
   width: 100%;
}
.prereq{
   text-align: left;
   vertical-align: top;
   line-height: 25px;
   padding-left: 60px;
   padding-right: 20px;
   width: 400px;
}
.nameClass{
  font-size: 20px;
  color: #74121d; 
  padding-top: 30px;
  margin-left: 40px;
}
under{
  text-decoration: underline;
}
italic{
  font-style: italic
}
.Header{
    font-size: 3em;
    font-weight: 300;
    color: #74121d;
    text-align: center;
    padding-bottom: .2em;
}
.class_text{
    padding-left: 60px;
    padding-bottom: 60px;
    padding-top: 13px;
}