.nameClass{
  margin-left: 60px;
  font-size: 20px;
  color: #74121d;
}
under{
  text-decoration: underline;
}
italic{
  font-style: italic
}
.Header{
    font-size: 3em;
    font-weight: 300;
    color: #74121d;
    text-align: center;
    padding-bottom: .6em;
}
.class_text{
    padding-left: 60px;
    padding-right: 600px;
    padding-bottom: 30px;
}